<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
  <default>
      <csp>
          <policies>
              <storefront>
                  <frame-ancestors>
                      <inline>0</inline>
                  </frame-ancestors>
              </storefront>
          </policies>
      </csp>

    <payment>
      <paytrail>
        <title>Paytrail for Adobe Commerce</title>
        <model>PaytrailAdapter</model>
        <order_status>processing</order_status>
        <payment_action>authorize_capture</payment_action>
        <active>0</active>
        <is_gateway>0</is_gateway>
        <merchant_id></merchant_id>
        <merchant_secret></merchant_secret>
        <skip_bank_selection>0</skip_bank_selection>
        <allowspecific>0</allowspecific>
        <can_initialize>1</can_initialize>
        <can_use_checkout>1</can_use_checkout>
        <can_authorize>1</can_authorize>
        <can_authorize_vault>1</can_authorize_vault>
        <can_use_internal>1</can_use_internal>
        <can_capture>0</can_capture>
        <can_capture_partial>0</can_capture_partial>
        <can_refund>1</can_refund>
        <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
        <response_log>0</response_log>
        <request_log>0</request_log>
        <generate_reference>1</generate_reference>
        <manual_invoice>0</manual_invoice>
        <shipment_activates_invoice>1</shipment_activates_invoice>
        <recommended_tax_algorithm>0</recommended_tax_algorithm>
        <logo>https://cdn2.hubspot.net/hubfs/335946/System/paytrail-logo.png</logo>
        <rounding_row_tax_percent>24</rounding_row_tax_percent>
        <failed_payment_cancel>1</failed_payment_cancel>
        <callback_delay>120</callback_delay>
        <paytrail_personalization>
          <payment_group_bg>#ffffff</payment_group_bg>
          <payment_group_text>#323232</payment_group_text>
          <payment_group_highlight_bg>#ffffff</payment_group_highlight_bg>
          <payment_group_highlight_text>#000000</payment_group_highlight_text>
          <payment_group_hover>#ffffff</payment_group_hover>
          <payment_method_highlight>#6f6f6f</payment_method_highlight>
          <payment_method_hover>#6f6f6f</payment_method_hover>
          <advanced_paytrail_personalization>
            <additional_css></additional_css>
          </advanced_paytrail_personalization>
        </paytrail_personalization>
        <checkout_algorithm>sha256</checkout_algorithm>
        <order_place_redirect_url>0</order_place_redirect_url>
      </paytrail>
      <paytrail_cc_vault>
        <model>PaytrailVaultFacade</model>
        <title>Stored Cards (Paytrail)</title>
        <active>1</active>
        <can_initialize>1</can_initialize>
        <can_use_checkout>1</can_use_checkout>
        <can_use_internal>1</can_use_internal>
        <show_stored_cards>1</show_stored_cards>
      </paytrail_cc_vault>
    </payment>
    <sales>
      <recurring_payment>
        <active_recurring_payment>0</active_recurring_payment>
        <notify_cron_schedule>0 1 * * *</notify_cron_schedule>
        <bill_cron_schedule>15 3 * * *</bill_cron_schedule>
        <email_template>recurring_email_template</email_template>
        <warning_period>7</warning_period>
        <force_weekdays>0</force_weekdays>
      </recurring_payment>
    </sales>
  </default>
</config>
