<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Sales\Block\Adminhtml\Order\View">
        <plugin name="paytrail_restore_order_button"
                type="Paytrail\PaymentService\Plugin\Magento\Sales\Block\Adminhtml\Order\ViewPlugin"/>
    </type>

    <type name="Magento\Tax\Model\Config">
        <plugin name="paytrail_payment_service_tax_config_plugin"
                type="Paytrail\PaymentService\Plugin\Model\TaxConfigPlugin" sortOrder="1" disabled="false"/>
    </type>

    <virtualType name="PaytrailAdapter" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">Paytrail\PaymentService\Gateway\Config\Config::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Paytrail\PaymentService\Block\Form\Paytrail</argument>
            <argument name="infoBlockType" xsi:type="string">Paytrail\PaymentService\Block\Info\Paytrail</argument>
            <argument name="valueHandlerPool" xsi:type="object">PaytrailValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">PaytrailCommandPool</argument>
            <argument name="validatorPool" xsi:type="object">PaytrailValidatorPool</argument>
        </arguments>
    </virtualType>

    <type name="Paytrail\PaymentService\Model\ReceiptDataProvider">
        <arguments>
            <argument name="logger" xsi:type="object">Paytrail\PaymentService\Logger\PaytrailLogger</argument>
        </arguments>
    </type>

    <virtualType name="PaytrailConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Paytrail\PaymentService\Gateway\Config\Config::CODE</argument>
        </arguments>
    </virtualType>
    <virtualType name="PaytrailConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">PaytrailConfig</argument>
        </arguments>
    </virtualType>
    <virtualType name="PaytrailValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">PaytrailConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="PaytrailCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="initialize" xsi:type="string">Paytrail\PaymentService\Gateway\Command\Initialize</item>
                <item name="refund" xsi:type="string">PaytrailRefundCommand</item>
                <item name="vault_authorize" xsi:type="string">PaytrailPaymentServiceVaultAuthorizeCommand</item>
                <item name="payment" xsi:type="string">Paytrail\PaymentService\Gateway\Command\Payment</item>
                <item name="pay_and_add_card" xsi:type="string">Paytrail\PaymentService\Gateway\Command\PayAndAddCard
                </item>
                <item name="method_provider" xsi:type="string">Paytrail\PaymentService\Gateway\Command\MethodProvider
                </item>
                <item name="email_refund" xsi:type="string">PaytrailEmailRefundCommand</item>
                <item name="token_payment" xsi:type="string">Paytrail\PaymentService\Gateway\Command\TokenPayment</item>
                <item name="get_payment_data" xsi:type="string">Paytrail\PaymentService\Gateway\Command\PaymentData
                </item>
                <item name="add_card" xsi:type="string">Paytrail\PaymentService\Gateway\Command\AddCard</item>
                <item name="token_request" xsi:type="string">Paytrail\PaymentService\Gateway\Command\TokenRequest</item>
                <item name="invoice_activation" xsi:type="string">
                    Paytrail\PaymentService\Gateway\Command\InvoiceActivation
                </item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="PaytrailPaymentServiceVaultAuthorizeCommand"
                 type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">PaytrailPaymentServiceVaultAuthorizeRequest</argument>
        </arguments>
    </virtualType>

    <virtualType name="PaytrailPaymentServiceVaultAuthorizeRequest"
                 type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="refund" xsi:type="string">Paytrail\PaymentService\Gateway\Request\VaultRequestBuilder</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="PaytrailVaultFacade" type="Magento\Vault\Model\Method\Vault">
        <arguments>
            <argument name="config" xsi:type="object">PaytrailVaultPaymentConfig</argument>
            <argument name="valueHandlerPool" xsi:type="object">PaytrailValueHandlerPool</argument>
            <argument name="vaultProvider" xsi:type="object">PaytrailAdapter</argument>
            <argument name="code" xsi:type="const">Paytrail\PaymentService\Gateway\Config\Config::CC_VAULT_CODE
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="PaytrailVaultPaymentConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Paytrail\PaymentService\Gateway\Config\Config::CC_VAULT_CODE
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Payment\Gateway\Command\CommandManagerPool">
        <arguments>
            <argument name="executors" xsi:type="array">
                <item name="paytrail" xsi:type="string">PaytrailCommandManager</item>
            </argument>
        </arguments>
    </type>



    <virtualType name="PaytrailCommandManager" type="Magento\Payment\Gateway\Command\CommandManager">
        <arguments>
            <argument name="commandPool" xsi:type="object">PaytrailCommandPool</argument>
        </arguments>
    </virtualType>

    <!-- Command section for payment action  -->
    <virtualType name="PaytrailPaymentCommandManager" type="Magento\Payment\Gateway\Command\CommandManager">
        <arguments>
            <argument name="commandPool" xsi:type="object">PaytrailPaymentCommandPool</argument>
        </arguments>
    </virtualType>

    <type name="Paytrail\PaymentService\Gateway\Command\Payment">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">PaytrailPaymentRequest</argument>
            <argument name="transferFactory" xsi:type="object">Paytrail\PaymentService\Gateway\Http\TransferFactory
            </argument>
            <argument name="client" xsi:type="object">Paytrail\PaymentService\Gateway\Http\Client\TransactionPayment
            </argument>
            <argument name="handler" xsi:type="object">Paytrail\PaymentService\Gateway\Response\PaymentHandler
            </argument>
        </arguments>
    </type>

    <virtualType name="PaytrailPaymentRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="paymentBuilder" xsi:type="string">
                    Paytrail\PaymentService\Gateway\Request\PaymentDataBuilder
                </item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="PaytrailPaymentRedirect" type="Paytrail\PaymentService\Controller\Redirect\Index">
        <arguments>
            <argument name="commandManager" xsi:type="object">PaytrailPaymentCommandManager</argument>
        </arguments>
    </virtualType>

    <!-- Command section for token payment action  -->
    <virtualType name="PaytrailTokenPaymentCommandManager" type="Magento\Payment\Gateway\Command\CommandManager">
        <arguments>
            <argument name="commandPool" xsi:type="object">PaytrailTokenPaymentCommandPool</argument>
        </arguments>
    </virtualType>

    <type name="Paytrail\PaymentService\Gateway\Command\TokenPayment">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">PaytrailTokenPaymentRequest</argument>
            <argument name="transferFactory" xsi:type="object">Paytrail\PaymentService\Gateway\Http\TransferFactory
            </argument>
            <argument name="client" xsi:type="object">
                Paytrail\PaymentService\Gateway\Http\Client\TransactionTokenPayment
            </argument>
            <argument name="handler" xsi:type="object">Paytrail\PaymentService\Gateway\Response\TokenPaymentHandler
            </argument>
        </arguments>
    </type>

    <virtualType name="PaytrailTokenPaymentRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="paymentBuilder" xsi:type="string">
                    Paytrail\PaymentService\Gateway\Request\TokenPaymentDataBuilder
                </item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="PaytrailTokenPaymentRedirect" type="Paytrail\PaymentService\Controller\Redirect\Token">
        <arguments>
            <argument name="commandManager" xsi:type="object">PaytrailTokenPaymentCommandManager</argument>
        </arguments>
    </virtualType>

    <!-- Command section for get_payment_data action  -->
    <virtualType name="PaytrailPaymentDataCommandManager" type="Magento\Payment\Gateway\Command\CommandManager">
        <arguments>
            <argument name="commandPool" xsi:type="object">PaytrailPaymentDataCommandPool</argument>
        </arguments>
    </virtualType>

    <type name="Paytrail\PaymentService\Gateway\Command\PaymentData">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">PaytrailPaymentDataRequest</argument>
            <argument name="transferFactory" xsi:type="object">Paytrail\PaymentService\Gateway\Http\TransferFactory
            </argument>
            <argument name="client" xsi:type="object">
                Paytrail\PaymentService\Gateway\Http\Client\TransactionPaymentData
            </argument>
            <argument name="handler" xsi:type="object">Paytrail\PaymentService\Gateway\Response\PaymentDataHandler
            </argument>
        </arguments>
    </type>

    <virtualType name="PaytrailPaymentDataRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="paymentBuilder" xsi:type="string">
                    Paytrail\PaymentService\Gateway\Request\GetPaymentDataBuilder
                </item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Command section for payment providers action  -->
    <type name="Paytrail\PaymentService\Gateway\Command\MethodProvider">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">PaytrailPaymentMethodProviderRequest</argument>
            <argument name="transferFactory" xsi:type="object">Paytrail\PaymentService\Gateway\Http\TransferFactory
            </argument>
            <argument name="client" xsi:type="object">
                Paytrail\PaymentService\Gateway\Http\Client\PaymentMethodProvider
            </argument>
            <argument name="handler" xsi:type="object">
                Paytrail\PaymentService\Gateway\Response\PaymentMethodProviderHandler
            </argument>
        </arguments>
    </type>

    <virtualType name="PaytrailPaymentMethodProviderRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="paymentBuilder" xsi:type="string">
                    Paytrail\PaymentService\Gateway\Request\PaymentMethodProviderDataBuilder
                </item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="PaytrailConfigProvider" type="Paytrail\PaymentService\Model\Ui\ConfigProvider">
        <arguments>
            <argument name="commandManager" xsi:type="object">PaytrailPaymentMethodProviderCommandManager</argument>
        </arguments>
    </virtualType>

    <!-- Command section for add_card action  -->
    <virtualType name="PaytrailAddCardCommandManager" type="Magento\Payment\Gateway\Command\CommandManager">
        <arguments>
            <argument name="commandPool" xsi:type="object">PaytrailAddCardCommandPool</argument>
        </arguments>
    </virtualType>

    <type name="Paytrail\PaymentService\Gateway\Command\AddCard">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">PaytrailAddCardRequest</argument>
            <argument name="transferFactory" xsi:type="object">Paytrail\PaymentService\Gateway\Http\TransferFactory
            </argument>
            <argument name="client" xsi:type="object">Paytrail\PaymentService\Gateway\Http\Client\TransactionAddCard
            </argument>
            <argument name="handler" xsi:type="object">Paytrail\PaymentService\Gateway\Response\AddCardHandler
            </argument>
        </arguments>
    </type>

    <virtualType name="PaytrailAddCardRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="paymentBuilder" xsi:type="string">
                    Paytrail\PaymentService\Gateway\Request\AddCardDataBuilder
                </item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Command section for token_request action  -->
    <virtualType name="PaytrailTokenRequestCommandManager" type="Magento\Payment\Gateway\Command\CommandManager">
        <arguments>
            <argument name="commandPool" xsi:type="object">PaytrailTokenRequestCommandPool</argument>
        </arguments>
    </virtualType>

    <type name="Paytrail\PaymentService\Gateway\Command\TokenRequest">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">PaytrailTokenRequestRequest</argument>
            <argument name="transferFactory" xsi:type="object">Paytrail\PaymentService\Gateway\Http\TransferFactory
            </argument>
            <argument name="client" xsi:type="object">Paytrail\PaymentService\Gateway\Http\Client\TokenRequest
            </argument>
            <argument name="handler" xsi:type="object">Paytrail\PaymentService\Gateway\Response\TokenRequestHandler
            </argument>
        </arguments>
    </type>

    <virtualType name="PaytrailTokenRequestRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="paymentBuilder" xsi:type="string">
                    Paytrail\PaymentService\Gateway\Request\TokenRequestDataBuilder
                </item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Command section for invoice_activation action  -->
    <virtualType name="PaytrailInvoiceActivationCommandManager" type="Magento\Payment\Gateway\Command\CommandManager">
        <arguments>
            <argument name="commandPool" xsi:type="object">PaytrailInvoiceActivationCommandPool</argument>
        </arguments>
    </virtualType>

    <type name="Paytrail\PaymentService\Gateway\Command\InvoiceActivation">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">PaytrailInvoiceActivationRequest</argument>
            <argument name="transferFactory" xsi:type="object">Paytrail\PaymentService\Gateway\Http\TransferFactory
            </argument>
            <argument name="client" xsi:type="object">Paytrail\PaymentService\Gateway\Http\Client\InvoiceActivation
            </argument>
            <argument name="handler" xsi:type="object">
                Paytrail\PaymentService\Gateway\Response\InvoiceActivationHandler
            </argument>
        </arguments>
    </type>

    <virtualType name="PaytrailInvoiceActivationRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="paymentBuilder" xsi:type="string">
                    Paytrail\PaymentService\Gateway\Request\InvoiceActivationDataBuilder
                </item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Command section for email_refund action -->
    <virtualType name="PaytrailEmailRefundCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">PaytrailEmailRefundRequest</argument>
            <argument name="transferFactory" xsi:type="object">Paytrail\PaymentService\Gateway\Http\TransferFactory
            </argument>
            <argument name="client" xsi:type="object">
                Paytrail\PaymentService\Gateway\Http\Client\TransactionEmailRefund
            </argument>
            <argument name="handler" xsi:type="object">Paytrail\PaymentService\Gateway\Response\EmailRefundHandler
            </argument>
            <argument name="validator" xsi:type="object">
                Paytrail\PaymentService\Gateway\Validator\RefundResponseValidator
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="PaytrailEmailRefundRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="refund" xsi:type="string">Paytrail\PaymentService\Gateway\Request\EmailRefundDataBuilder</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Magento\Vault\Model\Ui\TokensConfigProvider">
        <arguments>
            <argument name="tokenUiComponentProviders" xsi:type="array">
                <item name="paytrail" xsi:type="object">Paytrail\PaymentService\Model\Ui\TokenUiComponentProvider</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="PaytrailRefundCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">PaytrailRefundRequest</argument>
            <argument name="transferFactory" xsi:type="object">Paytrail\PaymentService\Gateway\Http\TransferFactory
            </argument>
            <argument name="client" xsi:type="object">Paytrail\PaymentService\Gateway\Http\Client\TransactionRefund
            </argument>
            <argument name="validator" xsi:type="object">
                Paytrail\PaymentService\Gateway\Validator\RefundResponseValidator
            </argument>
            <argument name="handler" xsi:type="object">Paytrail\PaymentService\Gateway\Response\RefundHandler</argument>
        </arguments>
    </virtualType>

    <virtualType name="PaytrailRefundRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="refund" xsi:type="string">Paytrail\PaymentService\Gateway\Request\RefundDataBuilder</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Command section for pay and add card action  -->
    <virtualType name="PaytrailPayAndAddCardCommandManager" type="Magento\Payment\Gateway\Command\CommandManager">
        <arguments>
            <argument name="commandPool" xsi:type="object">PaytrailPayAndAddCardCommandPool</argument>
        </arguments>
    </virtualType>

    <type name="Paytrail\PaymentService\Gateway\Command\PayAndAddCard">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">PaytrailPayAndAddCardRequest</argument>
            <argument name="transferFactory" xsi:type="object">Paytrail\PaymentService\Gateway\Http\TransferFactory
            </argument>
            <argument name="client" xsi:type="object">
                Paytrail\PaymentService\Gateway\Http\Client\TransactionPayAndAddCard
            </argument>
            <argument name="handler" xsi:type="object">Paytrail\PaymentService\Gateway\Response\PayAndAddCardHandler
            </argument>
        </arguments>
    </type>

    <virtualType name="PaytrailPayAndAddCardRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="payAndAddCardBuilder" xsi:type="string">
                    Paytrail\PaymentService\Gateway\Request\PayAndAddCardDataBuilder
                </item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="PaytrailPayAndAddCardRedirect" type="Paytrail\PaymentService\Controller\Redirect\PayAndAddCard">
        <arguments>
            <argument name="commandManager" xsi:type="object">PaytrailPayAndAddCardCommandManager</argument>
        </arguments>
    </virtualType>

    <virtualType name="PaytrailCountryValidator" type="Paytrail\PaymentService\Gateway\Validator\CountryValidator">
        <arguments>
            <argument name="config" xsi:type="object">Paytrail\PaymentService\Gateway\Config\Config</argument>
        </arguments>
    </virtualType>
    <virtualType name="PaytrailValidatorPool" type="Magento\Payment\Gateway\Validator\ValidatorPool">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="country" xsi:type="string">PaytrailCountryValidator</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- start log configuration -->
    <type name="Paytrail\PaymentService\Logger\PaytrailLogger">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="info" xsi:type="object">Paytrail\PaymentService\Logger\Request</item>
                <item name="notice" xsi:type="object">Paytrail\PaymentService\Logger\Response</item>
            </argument>
        </arguments>
    </type>

    <type name="Paytrail\PaymentService\Logger\Request\Request">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>

    <type name="Paytrail\PaymentService\Logger\Response\Response">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <!-- Subscription -->
    <!-- Commands -->
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="recurring_payment_bill" xsi:type="object">Paytrail\PaymentService\Console\Command\Bill
                </item>
                <item name="recurring_payment_notify" xsi:type="object">Paytrail\PaymentService\Console\Command\Notify
                </item>
            </argument>
        </arguments>
    </type>

    <!-- Preferences -->
    <preference for="Paytrail\PaymentService\Api\SubscriptionRepositoryInterface"
                type="Paytrail\PaymentService\Model\SubscriptionRepository"/>
    <preference for="Paytrail\PaymentService\Api\Data\SubscriptionInterface"
                type="Paytrail\PaymentService\Model\Subscription"/>
    <preference for="Paytrail\PaymentService\Api\Data\SubscriptionSearchResultInterface"
                type="Paytrail\PaymentService\Model\ResourceModel\Subscription\Collection"/>
    <preference for="Paytrail\PaymentService\Api\RecurringProfileRepositoryInterface"
                type="Paytrail\PaymentService\Model\Subscription\ProfileRepository"/>
    <preference for="Paytrail\PaymentService\Api\Data\RecurringProfileInterface"
                type="Paytrail\PaymentService\Model\Subscription\Profile"/>
    <preference for="Paytrail\PaymentService\Api\Data\RecurringProfileSearchResultInterface"
                type="Paytrail\PaymentService\Model\ResourceModel\Subscription\Profile\Collection"/>
    <preference for="Paytrail\PaymentService\Api\SubscriptionLinkRepositoryInterface"
                type="Paytrail\PaymentService\Model\Subscription\SubscriptionLinkRepository"/>
    <preference for="Paytrail\PaymentService\Api\Data\SubscriptionLinkInterface"
                type="Paytrail\PaymentService\Model\Subscription\SubscriptionLink"/>
    <preference for="Paytrail\PaymentService\Api\Data\SubscriptionLinkSearchResultInterface"
                type="Paytrail\PaymentService\Model\ResourceModel\Subscription\SubscriptionLink\Collection"/>
    <preference for="Paytrail\PaymentService\Api\SubscriptionManagementInterface"
                type="Paytrail\PaymentService\Model\SubscriptionManagement"/>
    <preference for="Paytrail\PaymentService\Api\CardManagementInterface"
                type="Paytrail\PaymentService\Model\CardManagement"/>
    <preference for="Paytrail\PaymentService\Api\CustomerTokensManagementInterface"
                type="Paytrail\PaymentService\Model\Token\CustomerTokensManagement"/>

    <!-- Plugins -->
    <type name="Magento\Checkout\Model\Cart">
        <plugin name="prevent_different_scheduled_cart"
                type="Paytrail\PaymentService\Plugin\PreventDifferentScheduledCart"/>
    </type>
    <type name="Magento\Checkout\Model\PaymentInformationManagement">
        <plugin name="prevent_admin_as_customer_save_payment_before"
                type="Paytrail\PaymentService\Plugin\Magento\Checkout\Model\PaymentInformationManagementPlugin"
                sortOrder="10"/>
    </type>

    <!-- arguments -->
    <type name="\Paytrail\PaymentService\Model\Subscription\OrderCloner">
        <arguments>
            <argument name="quoteSession" xsi:type="object">Magento\Backend\Model\Session\Quote\Proxy</argument>
        </arguments>
    </type>
    <type name="Paytrail\PaymentService\Model\Validation\PreventAdminActions">
        <arguments>
            <argument name="customerSession" xsi:type="object">Magento\Customer\Model\Session\Proxy</argument>
        </arguments>
    </type>

    <type name="\Paytrail\PaymentService\Console\Command\Notify">
        <arguments>
            <argument name="notify" xsi:type="object">\Paytrail\PaymentService\Model\Recurring\Notify\Proxy</argument>
            <argument name="state" xsi:type="object">\Magento\Framework\App\State\Proxy</argument>
        </arguments>
    </type>

    <type name="Paytrail\PaymentService\Console\Command\Bill">
        <arguments>
            <argument name="bill" xsi:type="object">\Paytrail\PaymentService\Model\Recurring\Bill\Proxy</argument>
            <argument name="state" xsi:type="object">\Magento\Framework\App\State\Proxy</argument>
        </arguments>
    </type>
    <type name="Paytrail\PaymentService\Observer\RestoreCart">
        <arguments>
            <argument name="checkoutSession" xsi:type="object">Magento\Checkout\Model\Session\Proxy</argument>
        </arguments>
    </type>
    <type name="Paytrail\PaymentService\Block\Order\Payments">
        <arguments>
            <argument name="customerSession" xsi:type="object">Magento\Customer\Model\Session\Proxy</argument>
            <argument name="checkoutSession" xsi:type="object">Magento\Checkout\Model\Session\Proxy</argument>
        </arguments>
    </type>
    <type name="Magento\Payment\Block\Form\Container">
        <plugin name="solteq_prevent_vault_cc_method"
                type="Paytrail\PaymentService\Plugin\PreventVaultCCMethod"
                sortOrder="10"/>
    </type>
</config>
