<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!--    Added preference to disable checkout cleaning up logic when cart is updated-->
    <preference for="Hyva\Checkout\Observer\Frontend\HyvaCheckoutSessionReset"
                type="Goodahead\HyvaCheckout\Observer\Frontend\HyvaCheckoutSessionReset" />

</config>
