<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Notification\MessageList">
        <arguments>
            <argument name="messages" xsi:type="array">
                <item name="PaytrailVersionNotification" xsi:type="string">Paytrail\PaymentService\Notification\Model\Message\VersionNotification</item>
            </argument>
        </arguments>
    </type>

    <type name="Paytrail\PaymentService\Controller\Adminhtml\Order\Restore">
        <arguments>
            <argument name="session" xsi:type="object">\Magento\Backend\Model\Session\Proxy</argument>
        </arguments>
    </type>

    <type name="Magento\Sales\Model\ResourceModel\Order\Grid\Collection">
        <plugin name="RecurringToOrderGrid" type="Paytrail\PaymentService\Plugin\RecurringToOrderGrid" />
    </type>

    <!-- include selected payment method into payment method data on order page   -->
    <type name="Magento\Sales\Block\Adminhtml\Order\View\Tab\Info">
        <plugin name="OrderAdminViewInfo" type="Paytrail\PaymentService\Plugin\Order\Data\PaymentMethodAdminOrderInfo" />
    </type>

    <!-- hide recurring_payment_schedule attribute on product edit page for disable Recurring Payment configuration -->
    <virtualType name="Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="recurringPaymentSchedule" xsi:type="array">
                    <item name="class" xsi:type="string">Paytrail\PaymentService\Model\Ui\DataProvider\Product\Form\Modifier\Attributes</item>
                    <item name="sortOrder" xsi:type="number">1000</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
</config>
