.paytrail-group-header-wrapper {
  display:flex;
  height:auto;
  padding:1.5em 1em 1.5em 1em;
  align-items: center;
  justify-content: space-between;
}

.paytrail-group-wrapper {
  display:table;
  height:100%;
  width: 100%;
}

.paytrail-payment-terms-container {
  font-size: 0.9em;
  padding-top:1em;
  padding-bottom: 1em;
}

.paytrail-payment-terms-container  a{
    text-decoration: underline;
    display: inline-block;
}

.paytrail-group-title {
  display:flex;
  flex-wrap: nowrap;
  align-items: center;
  max-width: 60%;
}

.paytrail-group-title span {
  line-height:1.8em;
  font-size:1.2em;
  display: table-cell;
}

.paytrail-group-method-list {
  max-width:60%;
  text-align:right;
}

.paytrail-group-method-list li {
  display: inline;
  font-size: 1.3rem;
  font-style: italic;
}

.paytrail-group-method-list li:after {
  content: ",";
}

.paytrail-group-method-list li:last-child:after {
  content: "";
}

.paytrail-logo {
  display: inline-block;
  position: relative;
  width: 100px;
}

.paytrail-logo-container {
  height: 30px;
  width: 100%;
  position: absolute;
  left: 0px;
  top: -20px;
}

.paytrail-logo img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  width: auto;
}

.paytrail-payment-methods .paytrail-payment-method {
  display: inline-block;
  margin-bottom: 1%;
  margin-right: 1%;
  border: 1px solid #e3e3e3;
  width: 18.6%;
  box-sizing: border-box;
  text-align: center;
  padding: 5px 10px;
}

.paytrail-payment-methods {
  margin-bottom: 20px;
}

.paytrail-payment-methods:after {
  content: "";
  display: table;
  clear: both;
}

.paytrail-group-logo {
  margin-right:1em;
  width: 32px;
  height: 34px;
}

.paytrail-group-collapsible.active img {
  filter: invert(100%) brightness(120%);
}

.paytrail-payment-methods .paytrail-payment-method-title {
  font-size: 0.9em;
  white-space: nowrap;
  margin-bottom: 3px;
  display: none; /* Hidden for now, maybe shown by overriding this in a theme */
}

.paytrail-payment-methods .paytrail-payment-method input[type="radio"] {
  display:none;
}


.paytrail-stored-token {
    height: 50px;
    border: 1px solid #E6E7E8;
    margin-bottom: 5px;

}

.paytrail-stored-token input[type="radio"] {
    display:none;
}

.paytrail-stored-token .paytrail-stored-token-data {
    height: 50px;
    display: inline-block;
    vertical-align: middle;
    padding-left: 20px;
}

.paytrail-stored-token .paytrail-stored-token-data span {
    display: inline-block;
    line-height: 30px;
    height: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: middle;
}

.paytrail-stored-token .paytrail-stored-token-data img {
    vertical-align: middle;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 30px;
}


.paytrail-payment-methods .paytrail-payment-method:nth-child(5n+0) {
  margin-right: 0;
}

.paytrail-payment-methods .paytrail-payment-method-logo {
  width: 120px;
  height: 60px;
  margin: auto;
  max-width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.paytrail-payment-methods .paytrail-payment-method-logo img {
  width: auto;
  height: 90%;
}

.recurring-amount {
  position: relative;
  top: 20px;
}

.recurring-price {
  margin-bottom: 0;
}

.paytrail-order-payments.account .table-wrapper {
    overflow: visible !important;
}

#payment-methods-modal {
    display: none;
}

.customer-subscription-action {
  display: inline-block;
  position: relative;
}

.customer-subscription-action.active {
  overflow: visible;
}

.customer-subscription-action::before,
.customer-subscription-action::after {
  content: '';
  display: table;
}

.customer-subscription-action ul::after {
  right: 9px;
  top: -14px;
}

.customer-subscription-action ul::after {
  border: 7px solid;
  border-top-color: currentcolor;
  border-right-color: currentcolor;
  border-bottom-color: currentcolor;
  border-left-color: currentcolor;
  border-color: transparent transparent #bbbbbb transparent;
  z-index: 98;
}

.customer-subscription-action ul::before, .customer-subscription-action ul::after {
  border-bottom-style: solid;
  content: '';
  display: block;
  height: 0;
  position: absolute;
  width: 0;
}

.customer-subscription-action ul::before {
  right: 10px;
  top: -12px;
}

.customer-subscription-action ul::before {
  border: 6px solid;
  border-top-color: currentcolor;
  border-right-color: currentcolor;
  border-bottom-color: currentcolor;
  border-left-color: currentcolor;
  border-color: transparent transparent #ffffff transparent;
  z-index: 99;
}

.customer-subscription-action.active ul {
  display: block;
}

.customer-subscription-action ul {
  margin: 0;
  padding: 0;
  list-style: none none;
  background: #ffffff;
  border: 1px solid #bbbbbb;
  margin-top: 4px;
  min-width: 100%;
  z-index: 101;
  box-sizing: border-box;
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
}

.customer-subscription-action ul li {
  margin: 0;
  padding: 0;
}

.customer-subscription-action ul {
  list-style: none none;
}

.customer-subscription-action li a:visited {
  color: #333333;
}

.customer-subscription-action li a {
  color: #333333;
  text-decoration: none;
  display: block;
  line-height: 1.4;
  padding: 8px;
}

.customer-subscription-action ul li:hover {
  background: #e8e8e8;
  cursor: pointer;
}

.action:hover {
  text-decoration: none;
}

.dropdown-action:hover {
  background-color: lightgrey;
}

@media only screen and (max-width : 1023px) {
  .paytrail-payment-methods .paytrail-payment-method {
    width: 23.6%;
  }

  .paytrail-payment-methods .paytrail-payment-method:nth-child(5n+0) { margin-right: 1%; }
  .paytrail-payment-methods .paytrail-payment-method:nth-child(4n+0) { margin-right: 0; }

  .paytrail-group-method-list li {
    font-size: 1.2rem;
  }

  .paytrail-group-title span {
    font-size: 1.1em;
  }

}

@media only screen and (max-width : 767px) {
  .paytrail-payment-methods .paytrail-payment-method {
    width: 32%;
  }

  .paytrail-group-method-list li {
    font-size: 1.3rem;
  }

  .paytrail-payment-methods .paytrail-payment-method:nth-child(4n+0) { margin-right: 1%; }
  .paytrail-payment-methods .paytrail-payment-method:nth-child(3n+0) { margin-right: 0; }
}

@media only screen and (max-width : 550px) {

  .paytrail-group-header-wrapper {
    flex-wrap: wrap;
    padding: 0 1em 1em 0;
  }

  .paytrail-group-title {
    padding-top:1em;
    padding-left: 1em;
    max-width:100%;
  }

  .paytrail-group-method-list {
    text-align: left;
    padding-top:0.8em;
    max-width: 90%;
    width: 90%;
  }

  .paytrail-group-method-list ul {
    padding-left:1.2em;
  }

  .paytrail-payment-methods .paytrail-payment-method:nth-child(3n+0) { margin-right: 1%; }
  .paytrail-payment-methods .paytrail-payment-method:nth-child(2n+0) { margin-right: 0; }

  .paytrail-payment-methods .paytrail-payment-method {
    width: 48.5%;
  }

}
